.homepage-container {
  margin: 20px;
  padding: 20px;
  background-color: rgb(114, 162, 216);
  border: 2px solid white;
}

.homepage-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.homepage-table {
  width: 100%;
  border-collapse: collapse;
}

.homepage-table thead {
  border: 2px solid white;
  background-color: purple;
  color: #fff;
}

.homepage-table th {
  padding: 10px;
}

.homepage-table tbody tr:nth-child(even) {
  background-color: rgb(52, 114, 185);
}

.homepage-table td {
  padding: 10px;
}
